@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Select @Html.ActionLink("Organisations", "Index", "Organisations") or @Html.ActionLink("Employees", "Index", "Employees") to view the data.</p>
