@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vaultex Technical Test</h1>
    <p class="lead">This is an ASP.NET web application for displaying Organisation and Employee information.</p>
    <p>@Html.ActionLink("Organisations", "Index", "Organisations")</p>
    <p>@Html.ActionLink("Employees", "Index", "Employees")</p>
</div>
